body {
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/fon.jpeg");
    background-size: cover;
    height: 100vh;
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.ava img {
    max-width: 100%;
    margin-left: -3%;
    height: 300px;
    width: auto;
    border-radius: 100px;
}

.github img {
    max-width: 100%;
    margin-top: 35px;
    height: 80px;
    width: auto;
    border-radius: 100px;
    padding: 5px;
}
